<form ng-submit="$ctrl.handleSubmit()">
  <lui-input ng-model="$ctrl.data.name" theme="'primary'">Laboratory</lui-input>
  <lui-textarea ng-model="$ctrl.data.description" theme="'primary'">Description</lui-textarea>
  <lui-select ng-model="$ctrl.data.accountable" theme="'primary'" placeholder="Accontable">
    <option ng-value="user.id" ng-repeat="user in $ctrl.users">{{user.name}}</option>
  </lui-select>
  <div class="group-buttons">
    <button class="button button--primary">Save</button>
    <button type="button" class="button" ng-click="$ctrl.onCancel()">Cancel</button>
  </div>
</form>
