@import '~app/styles/utils';

login .login{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .login__card{
    @extend .card;
    padding: 45px 20px;
    width: 400px;

    &__actions{
      text-align: right;
    }
  }
}
