@import '~app/styles/utils';

tool .tool{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;

  @media (min-width: 475px){
    align-items: center;
  }

  &__info{
    @extend .card;
  }
}
