<div class="accountables">
  <header class="accountables__header">
    <h2 class="header__title">Accountables</h2>
  </header>
  <div class="accountables__info">
    <accountables-list on-click="$ctrl.handleAccountableClick(accountable)"></accountables-list>
  </div>
  <lui-float-button ng-if="$ctrl.hasPermission" ng-click="$ctrl.addFormOpen()" theme="'accent'">
    <i class="fa fa-plus"></i>
  </lui-float-button>
  <lui-alert open="$ctrl.showFormAlert">
    <accountable-form
      data="$ctrl.actualAccountable"
      readonly="true">
    </accountable-form>
  </lui-alert>
  <lui-alert open="$ctrl.editFormAlert">
    <accountable-form
      data="$ctrl.actualAccountable"
      on-submit="$ctrl.editFormSubmit(accountable)"
      on-cancel="$ctrl.formClose()"
      on-delete="$ctrl.deleteAccountable()"
      has-delete="true"
      hide="{
        password: true,
        repeatPassword: true
      }">
    </accountable-form>
  </lui-alert>
  <lui-alert open="$ctrl.addFormAlert">
    <accountable-form
      on-submit="$ctrl.addFormSubmit(accountable)"
      on-cancel="$ctrl.formClose()">
    </accountable-form>
  </lui-alert>
</div>
