<div class="laboratory">
  <div class="laboratory__info">
    <h1>{{$ctrl.laboratory.name}}</h1>
    <table>
      <tr>
        <th>Description:</th>
        <td>{{$ctrl.laboratory.description}}</td>
      </tr>
      <tr>
        <th>Accountable</th>
        <td>{{$ctrl.laboratory.accountable}}</td>
      </tr>
    </table>
    <h2>Tools</h2>
    <tools-list laboratory="$ctrl.laboratory"></tools-list>
  </div>
  <lui-float-button ng-init="$ctrl.theme = 'primary'" ng-click="$ctrl.theme = 'accent'" theme="$ctrl.theme">+</lui-float-button>
</div>
