<div class="laboratory">
  <header class="laboratory__header">
    <a class="header__icon" ui-sref="laboratories"><i class="fa fa-arrow-left"></i></a>
    <h2 class="header__title">Laboratory</h2>
  </header>
  <div class="laboratory__info">
    <h1>{{$ctrl.laboratory.name}}</h1>
    <table>
      <tr>
        <th>Description:</th>
        <td>{{$ctrl.laboratory.description}}</td>
      </tr>
      <tr>
        <th>Accountable</th>
        <td>{{$ctrl.laboratory.accountable.name}}</td>
      </tr>
    </table>
    <h2>Tools</h2>
    <tools-list laboratory="$ctrl.laboratory"></tools-list>
  </div>
  <lui-float-button ng-click="$ctrl.addToolAlertOpen = true" theme="'primary'"><i class="fa fa-plus"></i></lui-float-button>
  <lui-alert open="$ctrl.addToolAlertOpen">
    <form ng-submit="$ctrl.addToolSubmit()">
      <lui-input ng-model="$ctrl.newTool.name" theme="'primary'">Tool</lui-input>
      <lui-input ng-model="$ctrl.newTool.place" theme="'primary'">Place</lui-input>
      <div class="group-buttons">
        <button class="button button--primary">Add</button>
        <button type="reset" class="button" ng-click="$ctrl.addToolAlertOpen = false">Cancel</button>
      </div>
   </form>
  </lui-alert>
  <lui-alert open="$ctrl.addToolAlertSuccess">
    <h2>The tool was successfully created</h2>
    <div class="group-buttons">
      <button class="button button--primary" ng-click="$ctrl.addToolAlertSuccess = false">Close</button>
    </div>
  </lui-alert>
</div>
