<div class="login">
  <div class="login__header">
    <h2 class="header__title">LabControl - Login</h2>
  </div>
  <div class="login__card">
    <form ng-submit="$ctrl.loginSubmit()">
      <lui-input theme="'primary'" type="text" ng-model="$ctrl.user.email">E-mail</lui-input>
      <lui-input theme="'primary'" type="password" ng-model="$ctrl.user.password">Password</lui-input>
      <div class="login__card__actions">
        <button type="submit" class="button button--accent">Login</button>
      </div>
    </form>
  </div>
  <!-- <login
    on-login-success="$ctrl.onLogin(user)"
    on-login-error="$ctrl.handleLoginError(error)"
  ></login> -->
</div>
