@import '~app/styles/utils';

@mixin lui-float-button-color($color){
  .lui-float-button__button{
    background-color: $color;
    &:focus{
      background-color: darken($color, 5);
    }

    &:hover{
      background-color: darken($color, 10);
    }

    &:active{
      background-color: darken($color, 25);
    }
  }
}

lui-float-button .lui-float-button{
  @include lui-float-button-color(gray("600"));
  border-radius: 100%;
  bottom: 25px;
  height: 63px;
  position: fixed;
  right: 25px;
  width: 63px;

  .lui-float-button__button{
    @include dp-shadow(3);
    color: white;
    cursor: pointer;
    border-radius: 100%;
    font-size: 32px;
    border: 0;
    height: 100%;
    padding: 0;
    outline: none;
    width: 100%;
    transition: .3s all ease;

    &:hover{
      transition-duration: .2;
    }

    &:active{
      @include dp-shadow(5);
      transition-duration: .1s;
    }
  }

  &--primary{
    @include lui-float-button-color(primary-color());
  }

  &--accent{
    @include lui-float-button-color(accent-color());
  }
}
