@import '~app/assets/scss/utils';

body{
  background-color: gray('200');
  color: $text-color;
  font-family: "Roboto", Monaco, monospace;
  height: 100vh;
  margin: 0;
}

main{
  min-height: calc(100vh - $footer-height);
}

.main-header{
  background-color: primary-color("600");
  top: 0;
  box-sizing: border-box;
  display: none;
  font-size: 1.3rem;
  line-height: $footer-height;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
  padding-left: 30px;

  @media (min-width: 1050px){
    display: block;
  }

  &__tabs{
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    height: $footer-height;
    align-items: center;

    &__item{
      text-align: center;
      line-height: $footer-height - 10px;
      margin-right: 5px;
    }

    &__link{
      background-color: transition;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      display: block;
      height: 100%;
      transition: .3s all ease;
      padding: 0 15px;
      text-decoration: none;
      outline: none;

      &--active{
        background-color: transparentize(black, .5);
      }
    }
  }
}

.main-footer{
  background-color: primary-color("600");
  bottom: 0;
  box-sizing: border-box;
  font-size: $footer-height / 2;
  line-height: $footer-height - 10px;
  height: $footer-height;
  left: 0;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 5;

  @media (min-width: 1050px){
    display: none;
  }

  &__tabs{
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;

    &__item{
      flex: 1;
      text-align: center;
    }

    &__link{
      border-radius: 10px;
      color: white;
      cursor: pointer;
      display: block;
      height: 100%;
      transition: .3s all ease;
      background-color: transition;
      outline: none;

      &--active{
        background-color: transparentize(black, .5);
      }
    }
  }
}
