@import '~app/styles/utils';

laboratories .laboratories{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;

  &__header{
    @extend .card__header;
  }

  &__info{
    @extend .card;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
